<footer class="page-footer sl-red">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Schwarzlicht</h5>
        <p class="grey-text text-lighten-4">
		Newsticker für Veranstaltungen & Mobilisierungen im Raum Würzburg.
		</p>
      </div>
      <div class="col l4 offset-l2 s12 white-text">
        <h5 class="white-text">Kanäle</h5>
        <ul>
		  {% include social_media_footer.html %}
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright sl-red">
    <div class="container">
			{% comment %} <a class="footer-link" href="">Impressum</a> {% endcomment %}
			<a class="footer-link" href="/gdpr">GDPR / DSGVO</a>
    </div>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/init.js"></script>
