<footer class="page-footer sl-red">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Schwarzlicht</h5>
        <p class="grey-text text-lighten-4">
		Newsticker für Veranstaltungen & Mobilisierungen im Raum Würzburg.
		</p>
        <ul>
				<li>
						<a class="footer-link" href="/info/">
								<i class="fas fa-info-circle"></i> Weitere Informationen 
						</a>
				</li>
				<li>
						<a class="footer-link" href="/contact/">
								<i class="fas fa-envelope"></i> Kontakt
						</a>
				</li>
        </ul>
      </div>
      <div class="col l4 offset-l2 s12 white-text">
        <h5 class="white-text">Kanäle</h5>
        <ul>
			{% include social_media_footer.html %}
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright sl-red">
    <div class="container">
		<a class="footer-link" href="/gdpr/">GDPR / DSGVO / Datenschutz</a>
    </div>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/init.js"></script>
