<div class="card sticky-action">
	<div class="card-image waves-effect waves-block waves-light">
		{% if group.image != 'null' %}
		<img class="activator" src="{{ group.image }}">
		{% endif %}
		{% if group.logo != 'null' %}
		<span class="activator card-title">
			<img style="width:25%" src="{{ group.logo }}"/>
		</span>
		{% endif %}
	</div>
	<div class="card-content">
		<span class="card-title activator grey-text text-darken-4">
				{{ group.name }}
				{% if group.active != "true" %}
					<span style="font-size:smaller; font-weight:bolder;" class="sl-red-text">
					INAKTIV
					</span>
				{% endif %}
			<i class="material-icons right">more_vert</i>
		</span>
	</div>
	<div class="card-action">
	{% if group.mail != 'null' %}
	<a href="{{ group.mail }}"><i class="sl-red-text fas fa-envelope fa-2x"></i></a>
	{% endif %}
	{% if group.website != 'null' %}
	<a href="{{ group.website }}"><i class="sl-red-text fas fa-globe fa-2x"></i></a>
	{% endif %}
	{% if group.twitter != 'null' %}
	<a href="{{ group.twitter }}"><i class="sl-red-text fab fa-twitter fa-2x"></i></a>
	{% endif %}
	{% if group.instagram != 'null' %}
	<a href="{{ group.instagram }}"><i class="sl-red-text fab fa-instagram fa-2x"></i></a>
	{% endif %}
	</div>
	<div class="card-reveal">
		<span class="card-title grey-text text-darken-4">
			{{ group.name }}
			{% if group.active != "true" %}
				<span style="font-size:smaller; font-weight:bolder;" class="sl-red-text">
				INAKTIV
				</span>
			{% endif %}
			<i class="material-icons right">close</i>
		</span>
		<p>
			{{ group.description }}
		</p>
	</div>
</div>
