<header class="site-header">
	{% include navbar.html %}
	<div class="container hide-on-med-and-up">
		<div class="row center">
			<div class "col s12">
				<a href="/">
					<img style="margin-top: 1em; width:75%;"
					class="responsive-img" src="/img/title.svg">
				</a>
			</div>
		</div>
	</div>
	<div class="container hide-on-small-only">
		<div class="row valign-wrapper">
			<div class="col offset-m8 m4 center">
				<a href="/">
					<img style="margin-top: 1em; width: 75%;"
					class="responsive-img" src="/img/title.svg">
				</a>
			</div>
		</div>
	</div>
</header>
