<header class="site-header">
	{% include navbar.html %}
	<div class="container">
		<div class="center col s12 hide-on-med-and-up">
			<a href="/">
				<img style="margin-top:1em; vertical-align: middle; width:75%" class="responsive-img" src="/img/title.svg">
			</a>
		</div>
		<div class="row valign-wrapper">
			<div class="center col s12 m4 hide-on-small-only">
				<a href="/">
					<img style="margin-top:2em; vertical-align: middle;" class="responsive-img" src="/img/title.svg">
				</a>
				<p class="right">
					{% include social_media.html %}
				</p>
			</div>
			<div class="col s12 offset-m1 m7">
				<h1 class="">
						NEWS&shy;TICKER
						FÜR
						VERAN&shy;STALT&shy;UNGEN
						&
						MO&shy;BI&shy;LI&shy;SIE&shy;RUNG&shy;EN
						IM
						RAUM
						WÜRZ&shy;BURG</h1>
				<div class="row">
					<div class="col s12">
						<p>
							Diese Website ist ein Mirror des Twitter-Feeds von
							<a target="_blank"
									href="https://twitter.com/schwarzlichtwue">@schwarzlichtwue</a>.
							Der Source Code für
							<a target="_blank"
									href="https://github.com/schwarzlichtwue/schwarzlichtwue.github.io/tree/dev">Website</a>
							und
							<a target="_blank"
									href="https://github.com/schwarzlichtwue/provider">Mirror</a>
							kann auf
							<a target="_blank"
									href="https://github.com/schwarzlichtwue">GitHub</a>
							eingesehen werden.
						</p>
						<p>
								<a href="/info">Weitere Informationen</a>
						</p>
					</div>
					<div class="col s12">
						<p class="left hide-on-med-and-up">
					{% include social_media.html %}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
