<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="viewport" content="width=device-width">
	<link rel="shortcut icon" type="image/png" href="/favicon.png">
	<link href="/css/fonts.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="/css/materialize.min.css">
	<link rel="stylesheet" href="/css/main.css">
	<script defer="" src="/js/fontawesome_all_v5.7.2.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"></script>
</head>
