<div class="navbar-fixed">
<nav class="grey lighten-4">
	<div class="nav-wrapper">
		<a href="/" class="logo center">SCHWARZLICHT</a>
		<a href="#" data-target="mobile-demo" class="sidenav-trigger logo-link"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li>
				<a class="logo-link" href="/#timeline">Timeline</a>
			</li>
			<li>
				<a class="logo-link" href="/t/">Themen</a>
			</li>
			<li>
				<a class="logo-link" href="/archive/">Archiv</a>
			</li>
			<li>
				<a class="logo-link" href="/other/groups/">Gruppen</a>
			</li>
			<li>
				<a class="logo-link" href="/other/documents/">Dokumente</a>
			</li>
		</ul>
	</div>
</nav>
</div>

<ul class="sidenav" id="mobile-demo">
			<li>
				<a href="/#timeline">Timeline</a>
			</li>
			<li>
				<a href="/t/">Themen</a>
			</li>
			<li>
				<a href="/archive/">Archiv</a>
			</li>
			<li>
				<a href="/other/groups/">Gruppen</a>
			</li>
			<li>
				<a href="/other/documents/">Dokumente</a>
			</li>
</ul>
