<div class="navbar-fixed">
<nav class="sl-red">
	<div class="nav-wrapper">
		<a href="/" class="logo left">
				<img class="hide-on-med-and-down" style="height: 2.1rem;"
					src="/img/logo-white.svg">
					SCHWARZLICHT
		</a>
		<a href="#" data-target="sidenav" class="sidenav-trigger logo-link"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li>
				<a style="margin-right: 1em;" class="logo-link dropdown-trigger" href="#!"
					data-target="dropdown">
					Menu
					<i class="material-icons right">arrow_drop_down</i>
				</a>
			</li>
		</ul>
	</div>
</nav>
</div>

<ul class="sidenav" id="sidenav">
	{% include sidenav-menu.html %}
</ul>

<ul class="dropdown-content" id="dropdown">
	{% include menu.html %}
</ul>
