<ul class="pagination">
	{% if paginator.previous_page != paginator.first_page and paginator.page != paginator.first_page %}
	<li class="waves-effect">
			<a class="paginator" href="{{paginator.first_page_path }}">{{
					paginator.first_page }} /
			</a>
	</li>
	{% endif %}
	{% if paginator.previous_page %}
	<li class="waves-effect"><a class="paginator" href="{{paginator.previous_page_path}}">{{ paginator.previous_page }}</a></li>
	{% endif %}
	<li class="sl-red active"><a class="paginator" href="{{paginator.page_path}}">{{ paginator.page }}</a></li>
	{% if paginator.next_page %}
	<li class="waves-effect"><a class="paginator" href="{{paginator.next_page_path}}">{{ paginator.next_page }}</a></li>
	{% endif %}
	{% if paginator.next_page != paginator.last_page and paginator.page != paginator.last_page %}
	<li class="waves-effect">
			<a class="paginator" href="{{paginator.last_page_path }}">
					/ {{paginator.last_page }}
			</a>
	</li>
	{% endif %}
</ul>
