<ul class="collapsible">
		<li>
		<div class="collapsible-header">Menü</div>
		<div class="collapsible-body">

<ul class="collection">
	<li class="collection-item">
		<a href="/#timeline">Timeline</a>
	</li>
	<li class="collection-item">
		<a href="/t/">Themen</a>
	</li>
	<li class="collection-item">
		<a href="/archive/">Archiv</a>
	</li>
	<li class="collection-item">
		<a href="/info/">Information</a>
	</li>
	<li class="collection-item">
		<a href="/contact/">Kontakt</a>
	</li>
	<li class="collection-item">
		<a href="/other/groups/">Gruppen</a>
	</li>
	<li class="collection-item">
		<a href="/other/documents/">Dokumente</a>
	</li>
	<li class="collection-item">
		<a href="/other/documents/linksunten/">Linksunten</a>
	</li>
</ul>
	</li>
</ul>
